---
layout: default
permalink: /team
title: Team Member
---
<!-- this section wraps the team members as a container-->
<section class="">
  <div class="container team">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">L'équipe</h2>
      </div>
    </div>
    <div class="row-flex">
      {% for member in site.data.team %}
      <div class="col-md-4">
        <div class="member-card">
          <div class="member">
            <img class="member-photo" src="../css/team/{{ member.img }}" alt="{{ member.name }}">
            <h3>{{ member.name }}</h3>
            <h4>{{ member.position }}</h4>
            {% if member.company_logo %}
              <img class="company" src="../css/team/{{ member.company_logo }}" alt="Company Logo">
            {% endif %}
            {% if member.message %}
              <p class="message">{{ member.message }}</p>
            {% endif %}
            {% if member.social %}
              <div class="social-media">
                <ul class="social-network social-circle">
                  {% for network in member.social %}
                    <li><a class="ico{{ network.title|capitalize }}" href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% if member.email %}
              <p><a class="email" href="mailto:{{ member.email }}">{{ member.email }}</a></p>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

