<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row container">
                <style>
                    .video {
                        position:relative;
                        padding-bottom: 56.25%;
                        height:0;
                        overflow:hidden;
                        align: middle;
                    }
                    .video iframe, .video object, .video embed {
                        position: absolute;
                        margin: auto;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                    }
                </style>

                <div class="video">
                  <iframe width="420" height="315" frameborder="0" allowTransparency="true" allowFullScreen="true"
                          src="https://youtube.com/embed/P06_sZVGkXY?rel=0&showinfo=0">
                  </iframe>

                <center><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center>
            </div>
        </div>
    </section>
