<!-- Clients Aside -->
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2021_style/img/logos/manomano.png" class="img-responsive img-centered" alt="Manomano">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2021_style/img/logos/cdiscount.png" class="img-responsive img-centered" alt="Cdiscount">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2021_style/img/logos/laredoute.png" class="img-responsive img-centered" alt="La Redoute">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2021_style/img/logos/blablacar.png" class="img-responsive img-centered" alt="La Redoute">
                    </a>
                </div>
            </div>
        </div>
    </aside>
