<section id="agenda">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Le programme</h2>
        <h3>{{ include.date }}</h3>
      </div>
    </div>
    <div class="agenda-simple">
      {% for agenda in site.data.[include.directory].agenda %}
      <div class="agenda-item">
        <span class="agenda-time">{{ agenda.begin }}{% if agenda.end %} - {{ agenda.end }}{% endif %}</span>
        <span class="agenda-title">{{ agenda.title }}</span>
        <div class="agenda-speakers">
          {% for speaker in agenda.speakers %}
            <div class="agenda-speaker">
              <span class="agenda-speaker-name">{{ speaker.name }}</span>
              {% if speaker.position %}<span class="agenda-speaker-position">{{ speaker.position }}</span>{% endif %}
            </div>
          {% endfor %}
          {% if agenda.company_logo %}
          <div class="agenda-company-logo">
            <img src="/css/{{ include.directory }}/img/logos/{{ agenda.company_logo }}" alt="{{ agenda.company_logo }}" />
          </div>
          {% endif %}
        </div>
        {% if agenda.topic and agenda.topic != '' %}
        <div class="agenda-content-with-video">
          <div class="agenda-topic">
            {{ agenda.topic | newline_to_br }}
          </div>
          {% if agenda.video_url %}
          <div class="agenda-video">
            <iframe allowfullscreen src="{{ agenda.video_url }}"></iframe>
          </div>
          {% endif %}
        </div>
        {% elsif agenda.video_url %}
        <div class="agenda-video">
          <iframe allowfullscreen src="{{ agenda.video_url }}"></iframe>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
