<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img height=60 src ="/css/img/archilocus.svg" alt="logo" title="logo" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li {% if page.url == "/about" %}
                          class="active"
                        {% endif %} >
                        <a class="page-scroll" href="/about">Notre pourquoi</a>
                    </li>
                    <li {% if page.url == "/2021_06/agenda" %}
                          class="active"
                        {% endif %}
                      >
                      <a class="page-scroll" href="/#agenda">Demandez le programme !</a>
                    </li>
                    <li  {% if page.url == "/precedent" %}
                          class="active"
                        {% endif %}
                      >
                      <a class="page-scroll" href="/precedent">Replays</a>
                    </li>
                    <li  {% if page.url == "/books" %}
                          class="active"
                        {% endif %}
                      >
                      <a class="page-scroll" href="/books">Ressources</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/company/archilocus" title="LinkedIn" class="no-glow">
                            <span class="visible-md-inline visible-sm-inline visible-xs-inline">Linkedin</span> <i class="fa fa-linkedin fa"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="{{ site.data.home.slack.link }}" title="Slack" class="no-glow">
                            <span class="visible-md-inline visible-sm-inline visible-xs-inline">Slack</span> <i class="fa fa-slack fa"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://luma.com/archilocus" title="Luma" class="no-glow">
                            <span class="visible-md-inline visible-sm-inline visible-xs-inline">Luma</span> <i class="fa fa-calendar fa"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
