<!-- Portfolio Grid Section -->
<section id="speakers" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Les Intervenants</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      {% for speaker in site.data.[include.directory]speakers %}
      <div class="col-md-4 col-sm-6">
        <div class="speaker-card">
          <img class="speaker-photo" src="/css/{{ include.directory }}/img/speaker/{{ speaker.img }}" alt="{{ speaker.name }}">
          <h4 class="speaker-name">{{ speaker.name }}</h4>
          <div class="speaker-position">{{ speaker.position }}</div>
          <img class="speaker-company-logo" src="/css/{{ include.directory }}/img/logos/{{ speaker.company_logo }}" alt="{{ speaker.company_logo }}">
          <div class="speaker-title">{{ speaker.title }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
