<!-- Portfolio Grid Section -->
<section id="speakers" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Les Intervenants</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      {% assign speakers_found = '' | split: '' %}
      {% for agenda_item in site.data.[include.directory].agenda %}
        {% if agenda_item.speakers %}
          {% for speaker in agenda_item.speakers %}
            {% unless speakers_found contains speaker.name %}
              {% assign speakers_found = speakers_found | push: speaker.name %}
              <div class="col-md-4 col-sm-6">
                <div class="speaker-card">
                  <img class="speaker-photo" src="/css/{{ include.directory }}/img/speaker/{{ speaker.img }}" alt="{{ speaker.name }}">
                  <h4 class="speaker-name">{{ speaker.name }}</h4>
                  <div class="speaker-position">{{ speaker.position }}</div>
                  {% if speaker.company_logo %}
                    <img class="speaker-company-logo" src="/css/{{ include.directory }}/img/logos/{{ speaker.company_logo }}" alt="{{ speaker.company_logo }}">
                  {% endif %}
                </div>
              </div>
            {% endunless %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
