.agenda {
  table-layout: fixed;
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;

  td {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
  /* Column widths are based on these cells */
  .agenda-time {
    width: 40%;
  }
  .agenda-actiity {
     width: 60%;
  }
  th, td {
    border: 1px solid #00283c;
    font-size: 120%;
  }
  th {
    background: $secondary-dark-color;
    color: white;
    letter-spacing: 1px;
  }
  td {
    text-align: center;
    font-size: 110%;
    a {
        color: $secondary-color;
        text-decoration: none;
    }
    b {
        color: $secondary-color;
    }
    u {
        color: $primary-color;
    }
  }
  td + td {
    text-align: left;
    padding-left: 10px;
  }
}

@media screen and (max-width: 760px){
    .agenda {
        .agenda-time {
            width: 40%;
        }
        .agenda-actiity {
            width: 60%;
        }
        td, th {
            font-size: 100%;
        }
        td {
            padding-left: 0px;
        }
        td + td {
            padding-left: 10px;
        }
    }
}
.slot::before {
    position: relative;
    display:block;
    width:100%;
    height: 5px;
    background:linear-gradient(to left,$primary-color 25%, $secondary-color 95%)
}
.slot {
    padding-bottom:1em;
}
#agenda .slot {
    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .name {
        color:$primary-color;
        font-size:110%;
        font-weight:bold;
    }
    .topic {
        color:$secondary-dark-color;
        font-size:110%;
        font-weight:bold;
    }
    .title {
        color:$secondary-color;
        font-weight: bold;
        font-size:120%;
    }
    .time {
        color:$secondary-dark-color;
    }
}
@media screen and (min-width: 768px){
    #agenda .slot {
        .time {
            color:grey;
            font-size:70%;
        }
    }
}
