#intro {
    .video {
        position:relative;
        padding-bottom: 56.25%;
        height:0;
        overflow:hidden;
        align: middle;
        margin-bottom:2em;
    }
    .video iframe, .video object, .video embed {
        position: absolute;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }
    .btn {
        width:100%;
        margin-top:1em;
    }
}