#speakers .speakers-item {
    right: 0;
    margin: 0 0 15px;
}

#speakers .speakers-item .speakers-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#speakers .speakers-item .speakers-link .speakers-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: $primary-color;
}

#speakers .speakers-item .speakers-link .speakers-hover:hover {
    opacity: 1;
}

#speakers .speakers-item .speakers-link .speakers-hover .speakers-hover-content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 120%;
    color: #fff;
}

#speakers .speakers-item .speakers-link .speakers-hover .speakers-hover-content i {
    margin-top: -12px;
}


#speakers .speakers-item .speakers-caption {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 5px;
    max-width: 400px;
    min-height: 100px;
    text-align: center;
    background-color: #fff;
}

#speakers .speakers-item .speakers-caption h4 {
    margin: 0;
    text-transform: none;
}


#speakers * {
    z-index: 2;
}

@media(min-width:767px) {
    #speakers .speakers-item {
        margin: 0 0 30px;
    }
}
.speakers {
    padding: 5%;
    margin: 100px 15vw 60px 15vw;
    img {
        width: 100%;
    }
    a {
        color: darkblue;
    }
    h1 {
        margin: 0;
    }
    h1, h2, h3, ol, p {
        color: black; 
        text-align: left;
    }
    p, ol {
        font-size: 110%;
    }
    h1 {
        text-shadow: 2px 2px black;
        background-color: gold;
        color: white;
        padding: 5px 5px 5px 10px;
        -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        width: 90%;
    }
    .speaker-profile {
        img {
            border-radius: 50%;
            max-width: 300px;
            float: left;
            overflow: hidden;
            margin-right: 25px;
            margin-bottom: 10px;
        }
        a {
            color: DodgerBlue;
        }
        ul {
            padding-left: 350px;
        }
        ul, li, ol {
            font-size: 110%;
        }
    }
}

