
.team .member h3 {
  color: SlateGray ;
  margin: 5px 0px 0px 0px;
}

.email {
  color: #ff805b;
}


.member-photo {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  max-width: 80%;
  height: auto;
  transition: 0.1s transform ease-in-out;
}

.member-photo:hover {
  transform: scale(0.9);
  cursor: pointer;
}

