
.team .member h3 {
  color: #1D3A85 ;
  margin: 5px 0px 0px 0px;
  font-size: 140%;
}
.team .member h4 {
  color: #7B64CE ;
}
.team .member .message {
    margin-bottom:1em;
    font-style: italic;

}

.email {
  color: #ff805b;
}

.member-photo {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  width: 60%;
  height: auto;
  transition: 0.1s transform ease-in-out;
}

.member-photo:hover {
  transform: scale(0.9);
  cursor: pointer;
}
img.company {
  width: 60%;
}

/*======== NOW LETS ADD FLEXBOX ========*/
.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.row-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
  margin-bottom:3em;
  padding: 1em;
}
