---
layout: default
permalink: /team
title: Team Member
---
<!-- this section wraps the team members as a container-->
<section class="">
  <div class="container team">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">L'équipe</h2>
      </div>
    </div>
    <div class="row-flex">
      {% for member in site.data.team %}
      <div class="member col-md-4 col-sm-6 center-block text-center">
        <div class="row justify-content-center">
          <img class="member-photo" src="../css/team/{{ member.img }}" alt="{{ member.name }}">
          <!-- https://s.gravatar.com/avatar/0000000000000000?s=160 for Gravatar-->
        </div>
        <div class="row">
          <h3>{{ member.name }}</h3>
        </div>
        <div class="row">
          <img class="company img-responsive center-block" src="../css/team/{{ member.company_logo }}" alt="{{ member.company_logo }}"/>
        </div>
        <div class="row">
          <h4>{{ member.position }}</h4>
        </div>
        <div class="row message">
          {{ member.message }}
        </div>
        <div class="row">
          <ul class="social-network social-circle">
            {% for network in member.social %}
            <li><a class="ico{{ network.title|capitalize }}" href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
            {% endfor %}
          </ul>
        </div>
        {% if member.email %}
        <a class="email" href="mailto:{{ member.email }}">{{ member.email }}</a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

