<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include menu.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Archilocus<br></div>
                <div class="intro-lead-in">&laquo; La place des architectes IT &raquo;<br></div>
                <div class="intro-lead-in">24 juin 2021</div>
                <div class="intro-lead-in">Online</div>
                <a href="#intro" class="page-scroll btn btn-xl">Entrez dans la place...</a>
            </div>
        </div>
    </header>

    {% include 2021_home/intro.html %}
    {% include 2021_home/speakers.html %}
    {% include 2021_home/about.html %}
    {% include /footer.html %}
    {% include 2021_home/js.html %}

    </body>
</html>
