<!DOCTYPE html>
<html>

  {% include 2021_data/head.html %}


    <body id="page-top" class="index">

    {% include 2021_data/header.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Archilocus<br></div>
                <div class="intro-lead-in">17 juin</div>
                <div class="intro-lead-in">Online</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2021_data/intro.html %}
    {% include 2021_data/speakers.html %}
    {% include 2021_data/about.html %}
    {% include 2021_data/sponsors.html %}
    {% include 2021_data/contact.html %}
    {% include 2021_data/footer.html %}
    {% include 2021_data/speakers_info.html %}
    {% include 2021_data/js.html %}

    </body>
</html>
