<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include menu.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Archilocus<br></div>
                <div class="intro-lead-in">&laquo; La place des architectes IT &raquo;<br></div>
                <div class="intro-lead-in"> 23 septembre 2021 - après midi</div>
                <div class="intro-lead-in">Online</div>
                <a href="#intro" class="page-scroll btn btn-xl">Entrez dans la place...</a>
            </div>
        </div>
    </header>

    {% include home/intro.html %}
    {% include 2021_09/agenda.html %}
    {% include 2021_09/speakers.html %}
    {% include /footer.html %}
    {% include home/js.html %}
    <script src="{{ "/css/js/agency.js" | prepend: site.baseurl }}"></script>
    {% include /ga.html %}
    {% include /cookie-consent.html %}

    </body>
</html>
