<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include menu.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Archilocus<br></div>
                <div class="intro-lead-in">&laquo; La place des architectes IT &raquo;<br></div>
                <div class="intro-lead-in">{{ site.data.home.next.date }}</div>
                <div class="intro-lead-in">{{ site.data.home.next.place }}</div>
                {% if site.data.home.next.call %}
                <a href="{{ site.data.home.next.call }}" class="btn btn-xl" target="_blank" >
                  Call for paper
                </a>
                {% else %}
                <a href="#intro" class="page-scroll btn btn-xl">Entrez dans la place...</a>
                {% endif %}
            </div>
        </div>
    </header>

    {% include home/intro.html %}
    {% include 2022_05/agenda.html %}
    {% include 2022_05/speakers.html %}
    {% include /footer.html %}
    {% include home/js.html %}
    <script src="{{ "/css/js/agency.js" | prepend: site.baseurl }}"></script>
    {% include /ga.html %}
    {% include /cookie-consent.html %}

    </body>
</html>
