<!-- Services Section -->
<section id="intro" class="bg-light-gray">
  <div class="container">
    <div class="row container">

      {% if site.data.home.video.url %}
      <div class="video">
        <iframe width="420" height="315" frameborder="0" allowTransparency="true" allowFullScreen="true"
                src="{{ site.data.home.video.url }}">
        </iframe>
      </div>
      {% endif %}
      <div class="row about">
        {% for about_data in site.data.home.about %}
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <a href="{{ about_data.link }}" class="btn btn-sm"
            {% if about_data.out == "yes" %}target="_blank"{% endif %} >
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-{{ about_data.fa}}  fa-stack-1x" alt="{{ about_data.name }}"></i>
            </span>
            {{ about_data.info }}</a>
        </div>
        {% endfor %}
        <div class="col-xs-12 col-sm-6 col-lg-4">
        {% if site.data.home.next.link %}
          <a href="{{  site.data.home.next.link }}" class="btn btn-sm"
            target="_blank" >
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-hand-o-right  fa-stack-1x" alt="S'inscrire"></i>
            </span>
            S'inscrire</a>
        {% else %}
            <a href="/precedent" class="btn btn-sm">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-youtube-play fa-stack-1x" alt="Vidéo"></i>
            </span>
              Les replays</a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
